In [1]:
#IMPORT Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path= r'/Users/mdiaz/Desktop/CF/Project 4 Instacart Python/Data/Org/'

In [3]:
# Importing prepared 'orders_products_merged.pkl
df_orders_products_merged = pd.read_pickle(os.path.join(path, 'Prepared Data 4.6', 'Prepared Data 4.6,orders_products_merged.pkl'))

Exercise 4.7 deriving new variables

In [4]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [5]:
# Create a subset
df = df_orders_products_merged[:1000000]

IF STATEMENT - USER DEFINED

In [6]:
# The code below is the complete code for every condition you want to include for your filters

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [67]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/dp/hgd07ff102g9k5vqs2psn8_40000gn/T/ipykernel_43268/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [15]:
df['price_range'].value_counts(dropna = False)

KeyError: 'price_range'

In [8]:
df['prices'].max()

14.8

2 - IF STATEMENTS - IF LOC()

In [9]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [72]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [10]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

NaN                   32016530
High-range product      417682
Name: price_range_loc, dtype: int64

In [12]:
#RENAME ORDER DOW to Orders_day_of_week ** #added late because it was missed in exercise 4.4

df_orders_products_merged.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [14]:
df_orders_products_merged.head ()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

3 - IF STATEMENTS - Loops

In [17]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: orders_day_of_week, dtype: int64

In [18]:
result = []

In [20]:
for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [21]:
df_orders_products_merged['busiest_day'] = result

In [22]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: busiest_day, dtype: int64

In [23]:
len(result)

32434212

In [24]:
df_orders_products_merged.shape

(32434212, 17)

TASK 4.7 Deriving new variables

#1 - Complete the exercise - Listed above

#2 - Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural).

This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [27]:
labeling_counts = df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

In [28]:
labeling_counts

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: orders_day_of_week, dtype: int64

In [29]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 3, 4], dtype='int64')

In [30]:
# Convert index into list to compare day labels
day_number = list(labeling_counts.index)

In [31]:
day_number

[0, 1, 6, 2, 5, 3, 4]

In [32]:
results = []

In [34]:
for value in df_orders_products_merged['orders_day_of_week']:
    if value == day_number[0] or value == day_number[1]:
        results.append('Busiest days')
    elif value == day_number[len(day_number) - 1] or value == day_number[len(day_number) - 2]:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [35]:
# Check to see if results = dataframe length
len(results)

32434212

In [37]:
df_orders_products_merged['orders_day_of_week'].shape

(32434212,)

In [39]:
#Both results & df are same length so we can merge and create a new column for "busiest days' 
df_orders_products_merged['busiest_days'] = results

#3 - Check the values of this new column for accuracy. Note any observations in markdown format.

In [40]:
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regulary busy days    12927461
Busiest days          11875462
Slowest days           7631289
Name: busiest_days, dtype: int64

observation - the data doesn't really match the labeling counts

#4- When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [41]:
# data at a glance 
df_orders_products_merged.head(5)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [42]:
#Converting frequency into dictionary
dict_labeling_counts = df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [43]:
# Checking frequency dictionary
dict_labeling_counts

{10: 2764390,
 11: 2738585,
 14: 2691563,
 15: 2664522,
 13: 2663272,
 12: 2620800,
 16: 2537469,
 9: 2456661,
 17: 2089452,
 8: 1719952,
 18: 1637922,
 19: 1259382,
 20: 977017,
 7: 891928,
 21: 796362,
 22: 634737,
 23: 402612,
 6: 290770,
 0: 218942,
 1: 115786,
 5: 88057,
 2: 69431,
 4: 53283,
 3: 51317}

In [44]:
# Grouping into Most orders, Average orders and Fewest orders, I decided to use percentile as criteria.

list_quantile = list(df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [45]:
list_quantile

[2558301.75, 1118199.5, 272813.0]

In [46]:
results_labeling_hour = []

In [47]:
# Percentiles and nested loop used here for grouping automation 

for value in df_orders_products_merged['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [48]:
# Function to check the list before merging it with the DataFrame
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [52]:
# Checking the grouping process through nested loop.
labeling_result(results_labeling_hour)

Most orders: 27843970
Average orders: 3993426
Fewest orders: 596816
Total: 32434212

In [53]:
df_orders_products_merged['order_hour_of_day'].shape

(32434212,)

In [54]:
# Both length are the same, we can integrate it into 'df_orders_products_merged'.
df_orders_products_merged['busiest_period_of_day'] = results_labeling_hour

#5 - Print frequency of this new column

In [55]:
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27843970
Average orders     3993426
Fewest orders       596816
Name: busiest_period_of_day, dtype: int64

#6 Ensure your notebook is clean and structured and that your code is well commented.

#7 Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [58]:
df_orders_products_merged.to_pickle(os.path.join(path,'Prepared Data 4.7', 'orders_products_merged_update.pkl'))